.recent-work {
    .work-container {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2.5em;
        @include clearfix();
    }

    .work-wrap {
        position: relative;
        width: 32%;
        display: block;
        margin: .5%;
        float: left;

        @include media(max-width 1100px) {
            width: 48%;
        }

        @include media(max-width 600px) {
            width: 100%;
            margin-bottom: 1em;
        }
    }

    .work-item {
        width: 100%;
        padding-top: 80%;

        background: no-repeat center center;
        background-size: 150%;

        @include transition(all .5s);

    }
}

.more-work-link {
    float: right;
    color: $accent-color;
    font-size: 1.3em;
    padding-top: 1em;
    padding-right: 1em;
}

//work overlay found in _work.scss



