section {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;

    .section-header {
        text-align: center;
        margin-bottom: 70px;

        h2 {
            color: $primary-color-medium;
            font-size: em(50);
        }

        p {
            color: $medium-gray;
            font-size: em(20);
        }

        hr {
            width: 10%;
            text-align: center;
            margin: 0 auto;
            border: 0px;
            height: 2px;
            background-color: $light-gray;
        }

    }
}
