.subpage-header {
    width: 100%;
    position: relative;
    background-color: $primary-color;
    height: 200px;
    color: white;
    font-size: 2em;
    h1 {
        position: absolute;
        bottom: .5em;
        left: 1em;
    }

    @include media(max-width 600px) {
        height: 150px;
        font-size: 1em;
    }
}